* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: blue;
  --secondary: #333;
  --light: #e8eaed;
  --light2: #9999;
  --dark-main: #202124;
}

.container {
  width: 800px;
  margin: auto;
}

header {
  background-color: var(--dark-main);
  height: 70px;
  display: flex;
  border-bottom: 1px solid var(--light2);
}

body {
  background-color: var(--dark-main);
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hd-wrap-left,
.hd-wrap-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hd-menu {
  display: flex;
  flex-direction: column;
}

.hd-menu span {
  background-color: var(--light);
  height: 3px;
  width: 25px;
  margin: 2px 0;
  border-radius: 10px;
}

.hd-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  border-radius: 10px;
  padding: 0 10px;
  background-color: var(--secondary);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.hd-search input {
  border: none;
  outline: none;
  width: 450px;
  height: 50px;
  padding: 20px;
  font-size: 18px;
  color: var(--light);
  background-color: var(--secondary);
}

.hd-search span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
}

.search-icon {
  font-size: 25px;
  color: var(--light);
  background-color: transparent;
  border-radius: 50%;
}

.hd-search span:hover {
  background-color: #999;
}
