* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: blue;
  --secondary: #333;
  --light: #e8eaed;
  --light2: #9999;
  --dark-main: #202124;
}

.container {
  width: 800px;
  margin: auto;
}
